<footer id="footer" style="background-color: #F5F5F5;border-top: 2px solid rgba(0,0,0,0.06); ">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="nobg">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2019 All Rights Reserved<br>
                <div class="copyright-links"><a href="">Contact author</a></div>
            </div>


        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->
