<header id="header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="{{ path('homepage') }}" class="standard-logo"><img src="/img/logo.png" alt="Logo EMS"></a>
                <a href="{{ path('homepage') }}" class="retina-logo"><img src="/img/logo.png" alt="Logo EMS"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="style-3">

                <ul>
                    <li class="current"><a href="#"><div>Acceuil</div></a></li>
                    <li><a href="demos/medical/about-us.html"><div>About Us</div></a></li>
                    <li><a href="demos/medical/departments.html"><div>Departments</div></a></li>
                    <li><a href="demos/medical/appointment.html"><div>Appointment</div></a></li>
                    <li><a href="demos/medical/doctors.html"><div>Doctors</div></a>
                        <ul>
                            <li><a href="demos/medical/doctors-lists.html"><div>2 columns - List style</div></a></li>
                            <li><a href="demos/medical/doctors-3.html"><div>3 columns</div></a></li>
                            <li><a href="demos/medical/doctors.html"><div>4 columns</div></a></li>
                        </ul>
                    </li>
                    <li><a href="demos/medical/blog.html"><div>Blog</div></a></li>
                    <li><a href="demos/medical/contact.html"><div>Contact</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
