<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EMS - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/img/logoHead.png" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <script src="https://kit.fontawesome.com/2a21c6cec9.js"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'partials/navBar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/js/jquery.3-4-1.min.js"></script>
        {% endblock %}
    </body>
</html>
